@tailwind base;
@tailwind components;
@tailwind utilities;

$bg-image: "assets/desktop.svg";
$bg-image-about: "assets/background_about_page.svg";
$bg-image-projects: "assets/background_projects_page.svg";
$header-height: 80px;

@media (max-width: 768px) {
  .home-text {
    padding-top: 220px
  }
}

html {
  scroll-padding-top: $header-height;
  scroll-behavior: smooth;
}

body {
background-color: #bfdbf7;

}
//.about-background {
// background: {
//   image: url(#{$bg-image-about});
//   repeat: no-repeat;
//   size: 1000px;
// }
//
//}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#about {
    background: {
      image: url(#{$bg-image-about});
      repeat: no-repeat;
      size: cover;
    }
}


// View transition
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}

// Shared element
.vt-composer {
  view-transition-name: composer;
}
