
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-image: url(assets/algonova_icon_background.svg);
    background-repeat: no-repeat;
    background-position: right 100% top -5%;
    background-size: 1200px; /* or cover */
}
/* Smooth fonts */
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
