@tailwind base;
@tailwind components;
@tailwind utilities;

$bg-image: "assets/algonova_icon_background.svg";
$bg-image-about: "assets/background-about.svg";

body {
background-color: #bfdbf7;
}
.about-background {
 background: {
   image: url(#{$bg-image-about});
   repeat: no-repeat;
   size: 1000px;
 }

}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// View transition
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}

// Shared element
.vt-composer {
  view-transition-name: composer;
}
